In [1]:
import pandas as pd
import numpy as np

In [2]:
artists = pd.read_csv(r'C:\Users\AMIT\Desktop\MSIT_ML_CLASS-master-7\MSIT_ML_CLASS-master\datasets\Musical artists\scrobbler-small-sample.csv')

In [3]:
artists

      user_offset  artist_offset  playcount
0               1             79         58
1               1             84         80
2               1             86        317
3               1             89         64
4               1             96        159
5               1            102         58
6               1             29         55
7               1             31         59
8               1              1        211
9               2             57         85
10              2             60        124
11              2             82        155
12              2             96        159
13              2             19        176
14              2             21         57
15              2            107         75
16              2             31         87
17              2             33        243
18              2             38         58
19              2             50        120
20              2             54         52
21              2              0        105
22              2             16         56
23              3             57        101
24              3             75        166
25              3             39         63
26              4             58         61
27              4             72        128
28              4             15        108
29              5             65         72
...           ...            ...        ...
2864          494             29        328
2865          494              5        311
2866          495             58         92
2867          495             78         71
2868          495             53         94
2869          495              1        105
2870          496            103        148
2871          496              1         97
2872          496             16         88
2873          497             86         52
2874          497             35         74
2875          497             47         97
2876          498             57        155
2877          498             58        109
2878          498             60        174
2879          498             91        119
2880          498             96        248
2881          498            107        475
2882          498             22        269
2883          498            109         55
2884          498             26        175
2885          499             58        204
2886          499             69         89
2887          499             92        142
2888          499             47         88
2889            0             75        371
2890            0             26         58
2891            0             52         58
2892            0             54         53
2893            0              1        128

[2894 rows x 3 columns]

In [4]:
titles=artists.columns.tolist()

In [5]:
artists=artists.T
artists.shape

(3, 2894)

In [7]:
from sklearn.decomposition import NMF

model = NMF(n_components=3)

model.fit(artists)

nmf_features = model.transform(artists)

print(nmf_features.shape)

(3, 3)

In [8]:
df=pd.DataFrame(nmf_features,index=titles)
df

                        0          1          2
user_offset      0.271972  126.73186   1.774167
artist_offset    0.000000    0.24861  76.225894
playcount      158.733905    0.00000   0.001572

In [9]:
singers = pd.read_csv(r'C:\Users\AMIT\Desktop\MSIT_ML_CLASS-master-7\MSIT_ML_CLASS-master\datasets\Musical artists\artists.csv')

In [11]:
singers.head()

  Massive Attack
0        Sublime
1   Beastie Boys
2     Neil Young
3  Dead Kennedys
4        Orbital

In [12]:
# components gives us maximum number of words used in the particular article